{% extends "base.html" %}
{% block title %}{{ project.title }}{% endblock %}

{% import "partials/_macros_blocks.html" as details %}


{% block content %}
  {% if project %}

    <div class="h-100 w-100 overflow-x-hidden">
      <div class="gradient z-n1" style="--top: 10%;">
        <div class="wrapper" style="--size: 300px">
          <div class="element"></div>
          <div class="element"></div>
          <div class="element"></div>
          <div class="element"></div>
        </div>
      </div>
    </div>

    <section class="pt-4 pb-2 py-sm-5 mb-1 mb-sm-3">
      <div class="container">
        <div class="text-center z-1 mb-3 mx-auto">
          <div id="usernameBlock" class="mt-5 py-5">
            <h1 id="projectName" class="header header-anim header-accent xxl text-center "
                style="font-size: clamp(2rem, 9vw, 4.5rem); overflow-wrap: anywhere;">
              {{ project.title }}</h1>

            <h4 class="header text-center color-hint mt-3"
                style="font-size: clamp(0.5rem, 9vw, 1rem);">
              {{ project.uuid }}
            </h4>
          </div>
        </div>
      </div>
    </section>
    <section class="py-2 my-1 my-sm-3">
      <div class="container">
        <h4 class="header mt-4" style="padding-inline: 2%;">Детали проекта</h4>
        <div class="text-block pt-1">
          {{ project.description }}
        </div>
        <h4 class="header mt-4" style="padding-inline: 2%;">Данные о проекте</h4>
        <div class="detail-card nw mb-3">
          <div class="row">
            <div class="col-sm-8 align-self-center">
              Дата создания
            </div>
            <div class="col-sm-4 text-sm-end detail-text" id="projectCreatedAt">
              {{ project.created_at }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="d-grid gap-2 mt-4 d-none" id="backButton"></div>
      </div>
    </section>
  {% else %}
    <section
        class="
        full-screen
        d-flex
        justify-content-center
        align-items-center
        w-100
        h-100
        position-relative
        overflow-x-hidden"
    >
      <div class="gradient gradient-error" style="--top: 50%">
        <div class="wrapper" style="--size: 500px">
          <div class="element"></div>
          <div class="element"></div>
          <div class="element"></div>
          <div class="element"></div>
        </div>
      </div>
      <div class="form-signin w-100 m-auto">
        <h1 class="mb-3 header" id="statusAuth" style="font-size: clamp(2rem, 9vw, 4.5rem)">
          <span class="word">
        Такого проекта
      </span>
          <span class="word color-error">не существует</span>
        </h1>
        <h4 class="header" id="statusAuth">
          <span class="word">
        Или к нему нет доступа
      </span>
        </h4>
        <div class="my-5"></div>
        <a class="btn btn-lg btn-dark btn-gradient btn-telegram bg-color-white" href="/projects">
          Вернуться к моим проектам
        </a>
      </div>
    </section>
  {% endif %}

{% endblock %}

{% block scripts %}
  <script>
    const createdAtBlock = document.getElementById('projectCreatedAt');
    const tg = window.Telegram?.WebApp;
    const inTelegram = !!tg && tg.initData !== '';
    const backButtonDiv = document.getElementById("backButton");
    const prevUrl = document.referrer;

    const handleBack = () => {
      tg.MainButton.hide();
      if (window.history.length > 1) {
        window.history.back()
      } else {
        tg.close()
      }
    };

    if (inTelegram) {
      tg.ready();
      tg.MainButton.show();
      tg.MainButton.setParams({
        color: "#8774e1",
        is_visible: true,
        text: "Назад"
      });
      tg.MainButton.onClick(handleBack);
    } else {
      const buttonBack = document.createElement('button');
      buttonBack.innerText = "Назад";
      buttonBack.classList.add("btn", "btn-dark", "btn-back-c-lg", "mt-4", "py-2");
      buttonBack.onclick = handleBack;
      buttonBack.type = "button";

      if (prevUrl && !prevUrl.includes("/login")) {
        backButtonDiv.appendChild(buttonBack);
        backButtonDiv.classList.remove("d-none");
      } else {
        const listGroup = document.createElement('div');
        const linkItem = document.createElement('a');
        Object.assign(listGroup, {
          className: "list-group list-section",
        });
        Object.assign(linkItem, {
          href: "/projects",
          className: "item list-group-item list-group-item-action d-flex justify-content-between align-items-center",
          innerHTML: "Мои проекты <i class=\"bi bi-caret-right-fill align-self-center\"></i>"
        });
        backButtonDiv.appendChild(listGroup);
        listGroup.appendChild(linkItem);
        backButtonDiv.classList.remove("d-none");
      }
    }

    window.loginTelegramWidget2 = handleBack;

    function formatDateHuman(dateString) {
      const date = new Date(dateString);
      return new Intl.DateTimeFormat('ru-RU', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      }).format(date);
    }

    const createdAtDate = formatDateHuman(createdAtBlock.innerText);
    createdAtBlock.innerText = createdAtDate;
  </script>
{% endblock %}