{% extends "main.html" %}
{% block title %}Профиль{% endblock %}

{% import "partials/_macros_blocks.html" as details %}

{% block head_extra %}
<style>
  .text-link {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .text-link:is(:hover,:focus,:active),
  .text-section.text-link:is(:hover,:focus,:active) {
    transition: all 0.2s ease-in-out;
    background: var(--third-bg-color);
  }

  .text-link:is(:hover,:focus,:active) * {
    transition: all 0.2s ease-in-out;
    color: var(--accent-text-color)!important;
  }
</style>
{% endblock %}

{% block content %}
<div class="inner-container" id="container-affirm">
  <div id="profileSection" class="profile-section">
    {% if user %}

    <div class="profile-header">
      <img src="{{ user.photo_url }}" id="userAvatar" class="avatar" alt="Аватар"
           onerror="this.style.display='none'">

      <div class="profile-info">
        <div id="userName" class="name">{{ user.first_name }} {{ user.last_name }}</div>
        {% if user.is_premium %}
        <div id="premiumBadge" class="badge">Premium</div>
        {% endif %}
        <div id="userNickname" class="username">@{{ user.username }}</div>
      </div>
    </div>
    {% endif %}


  </div>
  <div id="projectsSection" >

    {% if projects %}
    {{ details.title_h4("Твои проекты", accent=True) }}
    {% for project in projects %}
    <a href="{{ url_for('user-projects:detail', project_uuid=project.uuid) }}" style="text-decoration: none;" class="text-link">
    <div class="
        detail-card
        text-link
        project-interaction
        oneline"
         data-uuid="{{ project.uuid }}">
      <div class="detail-title">{{ project.title }}
        <p class="sub-title">{{ project.description }}</p>
      </div>
      <div class="detail-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" fill="none" viewBox="0 0 7 12"
             style="margin-left: 5px;">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 5 5-5 5"></path>
        </svg>
      </div>
    </div>
    </a>
  {% endfor %}
  {% else %}
  {% call details.text_section() %}
  <p style="text-align: center;">
    Проектов пока нет. Создать новый?
  </p>
  {% endcall %}
  {% endif %}
  </div>


</div>
{% endblock %}
