{% macro title_h4(title, accent=None) %}
<div class="title-name {% if accent %}accent{% endif %}">
  <h4>{{ title }}</h4>
</div>
{% endmacro %}

{% macro detail_card(title, value, id=None, oneline=True) %}
<div class="
detail-card
{% if oneline %}oneline{% endif %}
">
  <div class="detail-title">{{ title }}</div>
  <div class="detail-info">
    <span
        {% if id %}
        id="{{ id }}"
        {% endif %}
    >{{ value }}</span>
  </div>
</div>
{% endmacro %}

{% macro text_title(title, value) %}
<div class="text-title">
  <div class="detail-title">{{ title }}</div>
  <div class="detail-info">{{ value }}</div>
</div>
{% endmacro %}

{% macro text_section(text_link=False) %}
<div class="text-section {% if text_link %}text_link{% endif %}">
  {{ caller() }}
</div>
{% endmacro %}

