{% macro title_h4(title, accent=None) %}
{% if accent %}
<div class="title-name accent">
{% else %}
<div class="title-name">
{% endif %}
    <h4>{{ title }}</h4>
</div>
{% endmacro %}

{% macro detail_card(title, value, id=None, oneline=True) %}
{% if oneline %}
<div class="detail-card oneline">
{% else %}
<div class="detail-card">
{% endif %}
    <div class="detail-title">{{ title }}</div>
    <div class="detail-info">
        {% if id %}
        <span id="{{ id }}">{{ value }}</span>
        {% else %}
        <span>{{ value }}</span>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro text_title(title, value) %}
    <div class="text-title">
        <div class="detail-title">{{ title }}</div>
        <div class="detail-info">{{ value }}</div>
    </div>
{% endmacro %}

    {% macro text_section(text_link=False) %}
    <div class="text-section {% if text_link %}text_link{% endif %}">
        {{ caller() }}
    </div>
    {% endmacro %}

