body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url('../media/logo.png') no-repeat center;
    background-size: contain;
}

.title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.btn span {
    display: block;
    margin-left: 0px;
}

.btn:focus {
    outline: none; /* Убираем стандартный контур фокуса */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Добавляем тень при фокусе */
}

.btn:hover {
    background-color: #ddd; /* Изменяем цвет фона при наведении */
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}