:root {
    --color-primary: #2AABEE;
    --color-success: #4CAF50;
    --color-error: #f44336;
    --color-info: #2392e7;
    --color-bg: #f5f5f5;
    --tint-12: 20 29 46;
    --section-bg-color: #212121;
    --bg-color: #212121;
    --secondary-bg-color: #181818;
    --third-bg-color: #1e1e1e;
    --hint-color: #aaaaaa;
    --base-text-color:#efefef;
    --accent-text-color:#8774e1;
}


html {
    overflow-y: scroll; /* Принудительное включение вертикальной полосы прокрутки */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: linear-gradient(135deg, #331f88, #9482e3);
    font-family: Roboto , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f8f8f8;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}
.main-container {
    display: flex;
    flex-grow:1;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
    z-index: 2;
}

@media (max-width: 768px){
    body {
        padding: 0;
        overflow-x: hidden; /* Скрывает горизонтальную прокрутку */
        touch-action: pan-y;
    }
    .main-container {
        padding: 0;
        align-items: stretch;
    }
}

.container {
    background: var(--secondary-bg-color);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    box-sizing: border-box;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 10px 0;

    position: relative;
    z-index: 1;
    isolation: isolate;
}
.container > * {
    position: relative;
    z-index: 3;
}

@media (max-width: 768px){
    .container {
        padding: 10px;
        margin:0;
        border-radius: 0px;
        flex-grow:1;
    }
}



.hidden {
    display: none !important;
}

.profile-section {
    font-size: 16px;
}


.profile-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: var(--section-bg-color);
    border-radius: 15px;

}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-primary);
    margin-left: 4px
}

.profile-info {
    flex: 1;
}

.username {
    color: #666;
    font-size: 1rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    display: block;
}
.name {
    color: var(--base-text-color);
    font-size: 1.5rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    display: inline-block;
}

.badge {
    display: inline-block;
    padding: 0.25rem 0.8rem;
    border-radius: 15px;
    background: var(--color-primary);
    color: var(--base-text-color);
    font-size: 0.7rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
}

.details-grid {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.detail-card {
    background: var(--section-bg-color);
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    color: var(--base-text-color);
    margin-block-end: 0.3rem;
}


.title-name {
    color: var(--hint-color) !important;
    display: block;
    border-radius: 10px;
    padding:1rem;
    padding-bottom: 0.2rem;
    color: var(--base-text-color);
    margin-block-end: 0.3rem;
}



.title-name h4 {
    font-weight: 400
}

.detail-title {
    font-size: 1rem;
    max-width: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
}

.detail-title .sub-title {
    font-size: 15px;
    margin-top: 0.2em;
    color: var(--hint-color);
    font-weight: 200;

}

.detail-info {
    display: flex;
    margin-left: auto;
    padding-left: 16px;
    align-items: center;
    color: var(--hint-color);
    justify-content: flex-start;
    display: flex;
    text-align: right;
}

@media (max-width: 500px){
    .detail-card {
        flex-direction: column;
    }
    .detail-card.oneline {
        flex-direction: row;
    }

    .detail-info {
        margin-left: 0;
        padding-left: 0;
        margin-top: 0.3rem;
        text-align: left;
    }
}
.details-grid .text-section {
    background: var(--section-bg-color);
    color: var(--base-text-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    margin-block-end: 0.3rem;
}

.text-title {
    display: flex; /* Заголовок и info находятся в одной строке */
    align-items: center; /* Центруем содержимое по вертикали */
    margin: 1rem 0; /* Пространство под title */
}
.text-title .detail-title {
    color: var(--base-text-color);
}

.text-section .text-title:first-child {
    margin-top: 0;
}

.text-section .text-title:last-child {
    margin-bottom: 0;
}

.status-block {
    background: var(--secondary-bg-color);
    padding: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    box-sizing: border-box;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 20px 0;
    border-radius: 15px;

}

.status-indicator {
    padding: 1rem;
    margin: 0rem 0;
    text-align: center;
    transition: all 0.3s ease;
    transform: scale(1);
}
@media (max-width: 768px){
    .status-block {
        border-radius: 0px;
        margin: 0;
    }
    .status-indicator {
        border-radius: 0px;
    }
}
.fade-out {
    opacity: 0; /* Скрываем элемент плавно */
    margin: 0;
    padding: 0;
}

.status-success {
    background: var(--color-success);
    color: var(--base-text-color);
}

.status-error {
    background: var(--color-error);
    color: var(--base-text-color);
}

.status-info {
    background: var(--color-info);
    color: var(--base-text-color);
}

.data-block {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
    border: 4px solid var(--accent-text-color);
    color: rgb(var(--tint-12));

}

pre {
    word-break: break-word;
    white-space: pre-wrap;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto; /* Скрыть горизонтальную прокрутку */
    overflow-y: hidden;   /* Добавлять вертикальные полосы прокрутки автоматически */
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    margin: 0.15em 0 0.15em 0;
    max-width: 100%;
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
}

pre::-webkit-scrollbar {
    height: 8px;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h4 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}



.dev-switch {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);

}

.dev-btn {
    background: linear-gradient(145deg, #2aabee, #1a8cd8);
    color: var(--base-text-color);
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 15px rgba(42, 171, 238, 0.3);
    transition: all 0.3s ease;
}

.dev-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(42, 171, 238, 0.4);
}

.dev-btn.active {
    background: linear-gradient(145deg, #4caf50, #45a049);
}

.dev-icon {
    font-size: 20px;
}

@keyframes run {
    0% {
        transform: translateX(-100vw) scaleX(1);
        opacity: 0;
    }
    5% { opacity: 0.3; }
    50% { transform: translateX(50vw) scaleX(1); }
    51% { transform: translateX(50vw) scaleX(-1); }
    95% { opacity: 0.3; }
    100% {
        transform: translateX(150vw) scaleX(-1);
        opacity: 0;
    }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
.goose {
    z-index: 2;
    position: fixed;
    font-size: 40px;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    animation:
    run 12s linear infinite,
    float 3s ease-in-out infinite;
}

.list-section {
    background: var(--section-bg-color);
    display: block;
    border-radius: 10px;
    color: var(--base-text-color);
    margin-block-end: 0.3rem;
}

.list-section .item {
    display: flex;
    max-width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--secondary-bg-color);
    position: relative;
    padding: 1rem;
    color: var(--base-text-color);
    transition: all 0.2s ease-in-out;
}

.list-section .item svg {
    color: var(--hint-color);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.list-section .item:hover svg,
.list-section .item:focus-within svg {
    transform: scale(1.1);
    color: var(--accent-text-color);
}

.list-section .item:hover,
.list-section .item:focus-within {
    color: var(--accent-text-color);
    background: var(--third-bg-color);
}

.list-section .item:first-child:hover,
.list-section .item:first-child:focus-within {
    color: var(--accent-text-color);
    background: var(--third-bg-color);
    border-radius: 10px 10px 0 0;
}

.list-section .item:last-child:hover,
.list-section .item:last-child:focus-within{
    color: var(--accent-text-color);
    background: var(--third-bg-color);
    border-radius: 0 0 10px 10px;
}

.list-section .item:last-child {
    border-bottom: none;
}

.accent {
    color: var(--accent-text-color) !important;
}
.sub-text{
    color: var(--hint-color) !important;
}

.subtitle-text {
    color: var(--hint-color) !important;
    display: block;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.subtitle-text.before {
    padding-top: 0.3rem;
    padding-bottom: 1.5rem;
}
.subtitle-text.after {
    padding-bottom: 0.3rem;
    padding-top: 1.5rem;
}