:root {
    --color-primary: #2AABEE;
    --color-secondary: #8774e1;
    --color-success: #4CAF50;
    --color-error: #f44336;
    --color-info: #2392e7;
    --color-warning: #ffc107;
    --color-bg: #f5f5f5;
    --color-blue: #37AEE2FF;
    --tint-12: 20 29 46;
    --section-bg-color: #212121;
    --bg-color: #212121;
    --secondary-bg-color: #181818;
    --third-bg-color: #1e1e1e;
    --hint-color: #aaaaaa;
    --base-text-color: #efefef;
    --accent-text-color: var(--color-secondary);
    --accent-text-color-blue: linear-gradient(90deg, #37aee2, #1e96c8);
    --main-font-size: 21px;
    --small-font-size: 18px;
    --components-gradient-text-1: #5a8cff;
    --components-gradient-text-2: #43d6ff;
    --components-gradient-text-3: #8f3fff;
    --gradient-point: 0.22;
    --icon-max-gradient: linear-gradient(96deg,
    var(--components-gradient-text-1) 0%,
    var(--components-gradient-text-2) calc(100% * var(--gradient-point)),
    var(--components-gradient-text-3) 99.6%);
    --telegram-gradient: linear-gradient(90deg, #37aee2, #1e96c8);
    --github-gradient: linear-gradient(90deg, #d6d3d3, #6e5494);
    --vkmail-gradient: linear-gradient(90deg, #0077ff, #30dec1);
    --gb-color-1: var(--accent-text-color);
    --gb-color-2: #37aee2;
}


html {
    font-size: var(--main-font-size);
    text-size-adjust: 100%;
    scrollbar-gutter: stable;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


html, body {
    min-height: 100%;
    color: var(--base-text-color);
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: var(--main-font-size);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    html, body {
        font-size: var(--small-font-size);
    }
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    flex-shrink: 0;
}

section {
    margin: 50px 0;
}

section:first-of-type {
    margin-top: 0;
}

section.full-screen {
    min-height: 100dvh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

section.dark {
    position: relative;
    background: #1a1a1a;
    margin: 50px 0;
    padding: 75px 0;
}

section.dark::before,
section.dark::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
}

section.dark::before {
    top: -50px;
    background: linear-gradient(to bottom, #212121, #1a1a1a
    );
}

section.dark::after {
    bottom: -50px; /* градиент снизу */
    background: linear-gradient(to top, #212121, #1a1a1a);
}

section.dark .container {
    position: relative;
    z-index: 2;
}

@media (max-width: 797px) {
    section.dark {
        margin: 25px 0;
        padding: 25px 0;
    }

    section.dark::before,
    section.dark::after {
        height: 25px;
    }

    section.dark::before {
        top: -25px;
    }

    section.dark::after {
        bottom: -25px;
    }
}

.main-container-wrap {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1440px;
    padding: 0px 48px;
}

.container-lg {
    padding: 0;
}


.header {
    font-weight: bolder;
    line-height: 90%;
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-variation-settings: "wght" 500;
    transition: font-variation-settings 0.3s ease-out;

}

.header-accent {
    min-width: 0;
    display: block;
    white-space: normal;
    hyphens: auto;
    -webkit-hyphens: auto;
    text-transform: uppercase;
    color: var(--accent-text-color)
}

.header-accent-grad {
    min-width: 0;
    display: block;
    white-space: normal;
    hyphens: auto;
    -webkit-hyphens: auto;
    text-transform: uppercase;
    background: linear-gradient(-53deg, #279fd1 0%, #8774e1 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1.header,
h2.header,
h3.header,
h4.header,
h5.header {
    transition: font-size 0.3s ease, font-variation-settings 0.3s ease;
}

h1.header {
    font-size: 4.5rem;
    font-variation-settings: "wght" 600;
    margin-bottom: 10px;
}

h2.header {
    font-size: 3.4rem;
    font-variation-settings: "wght" 600;
    margin-bottom: 10px;
}

h3.header {
    font-size: 2.6rem;
    font-variation-settings: "wght" 500;
    margin-bottom: 10px;
}

h4.header {
    font-size: 1.9rem;
    font-variation-settings: "wght" 400;
    margin-bottom: 10px;
}

h5.header {
    font-size: 1rem;
    font-variation-settings: "wght" 400;
    margin-bottom: 10px;
}

h1.xxl, .xxl {
    font-size: 6.2rem;
    font-variation-settings: "wght" 700 !important;
}

@media (max-width: 576px) {
    h1.header, .xxl {
        font-size: 4rem;
    }

    h2.header {
        font-size: 3rem;
    }

    h3.header {
        font-size: 2rem;
    }

    h4.header {
        font-size: 1rem;
    }

}

.header-anim:hover {
    font-variation-settings: "wght" 900 !important;
}

.container .content-text {
    max-width: 1000px;
}

.img-container {
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .img-container [class*="rounded-"] {
        border-radius: 0 !important;
    }
}

.img-block-lg {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.img-block-lg img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    display: block;
}

.img-block-grad {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(
            180deg,
            rgba(33, 33, 33, 0) 0%,
            #212121 100%
    );
    pointer-events: none;
}

.img-block-title {
    font-size: 18px;
    position: absolute;
    z-index: 3;
    width: 87%;
    bottom: 4%;
    left: 6.5%;
    transition: all .3s ease-in-out;
}

.nowrap {
    white-space: nowrap;
}

.img-container-card {
    margin-bottom: -8%;
}

.img-container-item {
    position: relative;
    z-index: 4;
    padding: 0 48px;
}

.btn-gradient {
    font-weight: bold;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: 2px solid #1818184d;
    transition: all 0.3s ease;
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: normal;
}

.btn-gradient:hover {
    filter: brightness(1.1);
}

.btn-telegram, .text-telegram {
    background-image: var(--telegram-gradient);
}

.btn-github, .text-github {
    background-image: var(--github-gradient);
}

.btn-vkmail, .text-vkmail {
    background-image: var(--vkmail-gradient);
}

.btn-twitter {
    background-image: linear-gradient(90deg, #1da1f2, #0d8ddb);
}

.btn-max, .text-max {
    background-image: var(--icon-max-gradient);
}

.bi-max::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-mask: url('/static/media/icons/max.svg') no-repeat center / contain;
    mask: url('/static/media/icons/max.svg') no-repeat center / contain;
    position: relative;
    background-image: var(--icon-max-gradient);
    transition: filter 0.3s ease;
}


.btn-max:hover .bi-max::before {
    filter: brightness(0) invert(1);
}

.detail-card {
    background: #1818184d;
    display: block;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1rem 2%;
    color: var(--base-text-color);
    margin-block-end: 0.3rem;
    width: 100%;
}

.border-purple {
    border: 1px solid #8774e17d;
}

.detail-card.nw {
    width: 100%;
    margin-inline-start: 0;
}

.detail-card-list-group {
    background: #1818184d;
    border: 1px solid transparent;
    padding: 1rem 2%;
    color: var(--base-text-color);
}

.border-purple .detail-card-list-group {
    border: 1px solid #8774e17d;
}

.detail-text {
    color: var(--hint-color);
}

.subtitle-text {
    color: var(--hint-color) !important;
    display: block;
    border-radius: 10px;
    padding: 0.5rem 0;
    font-size: 0.9em;
}

.text-block {
    display: block;
    border-radius: 10px;
    padding: 2%;
    margin-block-end: 0.3rem;
    width: 104%;
    margin-inline-start: -2%;
}

.list-section {

    display: block;
    border-radius: 10px;
    color: var(--base-text-color);
    margin-block-end: 0.3rem;
}

.list-section .item {
    background: transparent;
    display: flex;
    max-width: 100%;
    align-items: center;
    border-color: var(--secondary-bg-color) !important;
    position: relative;
    padding: 1rem;
    color: var(--base-text-color);
    transition: all 0.2s ease-in-out;
}

.list-section .item .bi {
    color: var(--hint-color);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.list-section .item:hover .bi,
.list-section .item:focus-within .bi {
    color: var(--accent-text-color);
}

.list-section .item:hover,
.list-section .item:focus-within {
    color: var(--accent-text-color);
    background: var(--third-bg-color);
}

.list-section .item:first-child:hover,
.list-section .item:first-child:focus-within {
    color: var(--accent-text-color);
    background: var(--third-bg-color);
    border-radius: 10px 10px 0 0;
}

.list-section .item:last-child:hover,
.list-section .item:last-child:focus-within {
    color: var(--accent-text-color);
    background: var(--third-bg-color);
    border-radius: 0 0 10px 10px;
}

@media (max-width: 797px) {
    .container {
        padding: 0 .8rem;
    }

    .detail-card {
        width: 100%;
        margin-inline: auto;
        padding: 1rem .8rem;
    }

    .img-container-item {
        padding: 0 .8rem;
    }
}

.text-c-secondary {
    color: var(--hint-color) !important;
}

.border-accent {
    border-color: var(--secondary-bg-color) !important;
}

.gradient-block {
    width: 100%;
    height: 100%;
    position: relative;
}

.gradient {
    position: absolute;
    left: 50%;
    top: var(--top);
    transform: translate(-50%, -50%);
    z-index: 0;
}

.wrapper {
    height: var(--size);
    width: var(--size);
    filter: blur(calc(var(--size) / 3));
    animation: gradient-scale-animation 24s linear infinite running;
    transform-origin: center;
    max-width: 90vw;
    aspect-ratio: 1
}

.element {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    animation: gradient-rotate-animation 12s linear infinite running
}

.element:first-child {
    background: var(--gb-color-1);
    top: 25%;
    left: 0;
    transform-origin: right
}

.element:nth-child(2) {
    background: var(--gb-color-1);
    top: 50%;
    left: 25%;
    transform-origin: top
}

.element:last-child {
    background: var(--gb-color-2);
    top: 0;
    left: 25%;
    transform-origin: bottom
}

.gradient-telegram .element,
.gradient-warning .element,
.gradient-error .element {
    background: var(--base-text-color);
}

.gradient-telegram .element:first-child,
.gradient-telegram .element:nth-child(2) {
    background: var(--telegram-gradient);
}

.gradient-warning .element:first-child,
.gradient-warning .element:nth-child(2) {
    background: var(--color-warning);
}

.gradient-error .element:first-child,
.gradient-error .element:nth-child(2) {
    background: var(--color-error);
}

.gradient-telegram .element:first-child {
    background: var(--telegram-gradient);
    top: 25%;
    left: 0;
    transform-origin: right
}


@keyframes gradient-scale-animation {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(.8)
    }

    to {
        transform: scale(1)
    }
}

@keyframes gradient-rotate-animation {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}


.form-signin {
    max-width: 1000px;
    padding: 1rem;
    z-index: 1;
}

.word {
    display: inline-block;
    margin-right: 6px;
    overflow-wrap: anywhere;
}


.fade-up {
    opacity: 0;
    transform: translateY(calc(var(--offset, 40px) * 1)) translateZ(0);
    will-change: opacity, transform;
}

.page-loaded .fade-up {
    animation: fadeUp 0.3s ease-out forwards;
}

.fade-up.delay-1 {
    animation-delay: 0.1s;
}

.fade-up.delay-2 {
    animation-delay: 0.2s;
}

.fade-up.delay-3 {
    animation-delay: 0.25s;
}

.fade-up.delay-4 {
    animation-delay: 0.3s;
}

.fade-up.delay-5 {
    animation-delay: 0.4s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    60% {
        opacity: 1;
        transform: translateY(-10px);
    }
    80% {
        opacity: 1;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-telegram-auth {
    transition: color 0.5s ease;
}

.text-telegram-auth:hover,
.text-telegram-auth:active {
    color: white;
    cursor: pointer;
}

.color-telegram {
    color: var(--color-blue);
}

.text-error, .color-error {
    color: var(--color-error);
}

.text-warning, .color-warning {
    color: var(--color-warning);
}

.color-accent {
    color: var(--accent-text-color);
}

.color-hint {
    color: var(--hint-color);
}

.bg-color-error {
    background-color: var(--color-error);
    background-image: none;
}

.bg-color-warning {
    background-color: var(--color-warning);
    background-image: none;
}


@media (orientation: landscape) and (max-height: 450px) {
    section.full-screen {
        padding-right: env(safe-area-inset-right);
        padding-left: env(safe-area-inset-left);
    }

    #icon-telegram-auth {
        font-size: 36px !important;
    }

    .wrapper {
        --size: 300px !important;
    }

    h1.header {
        font-size: clamp(2rem, 9vw, 3rem) !important;
    }

    button {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }

    #icon-telegram-auth {
        padding-inline: 5px !important;
    }
}