<div id="profileSection" class="profile-section">
    <div class="profile-header">
        <img src="{{ user.photo_url }}" id="userAvatar" class="avatar" alt="Аватар" onerror="this.style.display='none'">

        <div class="profile-info">
            <div id="userName" class="name">{{ user.first_name }} {{ user.last_name }}</div>

            {% if user.is_premium %}
            <div id="premiumBadge" class="badge">Premium</div>
            {% endif %}

            <div class="username" id="userUsername">@{{ user.username }}</div>

        </div>

    </div>
</div>

<div class="details-grid">
    <div class="title-name">
        <h4>Твои аффирмации</h4>
    </div>

    <!-- Динамический вывод аффирмаций -->
    {% if affirm %}
    {% for task_number, task_text in affirm.items() %}
    <div class="detail-card">
        <div class="detail-title">{{ task_number }}</div>
        <div class="detail-info">{{ task_text }}</div>
    </div>
    {% endfor %}
    {% else %}
    <div class="detail-card">
        <div class="detail-info">Нет доступных аффирмаций</div>
    </div>
    {% endif %}
</div>