<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="style/profile.css">

</head>
<body>
<div class="main-container">

    <div class="status-block">
        <div id="statusBlock" class="status-indicator">
            Проверка данных...
        </div>
    </div>

    <div class="container" id="container"></div>
</div>

<div id="tempPopup" class="custom-popup">
    <div class="popup-content">
        Пока я не умею удалять
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Используем делегирование событий
        document.querySelector('.details-grid').addEventListener('click', (e) => {
            if (e.target.closest('.delete-btn')) {
                e.stopPropagation();

                const popup = document.getElementById('tempPopup');
                popup.style.display = 'block';
                popup.style.animation = 'slideIn 0.5s ease-out'; // Явно запускаем анимацию

                setTimeout(() => {
                    popup.style.animation = 'fadeOut 0.5s ease-out';
                    setTimeout(() => popup.style.display = 'none', 500);
                }, 3000);
            }
        });
    });
</script>
<script src="scripts/profile.js" defer></script>
</body>
</html>
