<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Initialization</title>
    <!-- Отключение кэширования -->
    <meta http-equiv="Cache-Control" content="no-store, max-age=0">
    <link rel="stylesheet" href="/style/profile.css">

    <script>
        (async () => {
            try {
                // Инициализация Telegram WebApp
                Telegram.WebApp.ready();
                Telegram.WebApp.expand();

                const botName = location.pathname.split('/').pop();

                // Отправка InitData на сервер
                const response = await fetch(`/auth/${botName}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-Client-Source': 'TelegramMiniApp'
                    },
                    body: Telegram.WebApp.initData,
                    credentials: 'include'
                });

                // Обработка ответа
                if (response.ok) {
                    window.location.replace(response.url || '/profile');
                } else {
                    document.body.innerHTML = `❌ Ошибка: ${response.status}`;
                }
            } catch (error) {
                document.body.innerHTML = `⚠️ Ошибка: ${error.message}`;
            }
        })();
    </script>
</head>
<body>
<!-- Индикатор загрузки -->
<div class="main-container">
    <div class="status-block">
        <div id="statusBlock" class="status-indicator status-info">
            Идет авторизация...
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        try {
            const { statusBlock } = window.elements
            const botName = location.pathname.split('/').pop();
            elements.statusBlock.innerText = `Телеграм авторизуется,
             подождите... ${Telegram.WebApp.initData}
             botname: ${botName}
             `;


        } catch (error) {

        }
    });
</script>

</body>
</html>