<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <script src="https://telegram.org/js/telegram-widget.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <link rel="stylesheet" href="/style/profile.css">

</head>
<body>
<div class="main-container">


    <div class="status-block">
        <div id="statusBlock" class="status-indicator">
            Проверка данных...
        </div>
    </div>

    <div class="container" id="container">
        {% include content_template %}
    </div>
</div>



<script src="/scripts/utils.js" defer></script>
{% if not user %}
<script src="/scripts/auth.js" id="authScript" defer></script>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const authScript = document.getElementById('authScript');
        // Добавляем небольшую задержку для гарантии загрузки utils.js
        await new Promise(r => setTimeout(r, 0));

        try {
            // Проверяем существование элементов
            if (!window.elements?.statusBlock) {
                throw new Error('Элемент statusBlock не инициализирован');
            }

            if (!authScript) {
                // Загружаем контент
                await window.dynamicLoadContent();
            }

        } catch (error) {
            console.error('Ошибка инициализации:', error);
            window.elements.container.innerHTML = `
                <div class="error-message">
                    Критическая ошибка: ${error.message}
                </div>
            `;
        }
    });
</script>

</body>
</html>
