{% extends "main.html" %}
{% block title %}Профиль{% endblock %}
{% import "partials/_macros_blocks.html" as details %}

{% block content %}
  <div class="inner-container" id="profile-details">
    <div class="big_title_block">
      <div class="profile-info">
        <img
            src="{{ user.photo_url }}"
            id="userAvatar"
            class="avatar"
            alt="Аватар"
            onerror="this.src='/static/media/nonePhoto.png'"
            style="width: min(200px, 100%); height: auto;"/>
      </div>

      <div class="profile-info">
        <div id="projectName" class="name">{{ user.first_name }} {{ user.last_name }}</div>
        <div id="projectId" class="username">@{{ user.username }}</div>
      </div>
    </div>

    {{ details.detail_card("Телеграм ID", user.tg_id , oneline=True) }}

    {{ details.title_h4(" ") }}
    <div class="list-section">
      <a href="/affirmations" class="item"
         style="text-decoration: none;">
        <span class="detail-title">Мои аффирмации</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" fill="none"
             viewBox="0 0 7 12"
             class="p_ZQ v61B">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 5 5-5 5"/>
        </svg>
      </a>
      <a href="/projects" class="item"
         style="text-decoration: none;">
        <span class="detail-title">Мои проекты</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" fill="none"
             viewBox="0 0 7 12"
             class="p_ZQ v61B">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 5 5-5 5"/>
        </svg>
      </a>
    </div>
    <div class="d-grid gap-2 mt-4 d-none" id="backButton"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script defer>
    const tg = window.Telegram?.WebApp;
    const inTelegram = !!tg && tg.initData !== '';
    const backButtonDiv = document.getElementById("backButton");
    const prevUrl = document.referrer;

    const handleBack = () => {
      tg.MainButton.hide();
      if (window.history.length > 1) {
        window.history.back()
      } else {
        tg.close()
      }
    };

    if (inTelegram) {
      tg.ready();
      tg.MainButton.show();
      tg.MainButton.setParams({
        color: "#8774e1",
        is_visible: true,
        text: "Назад"
      });
      tg.MainButton.onClick(handleBack);

    } else {
      const buttonBack = document.createElement('button');
      buttonBack.innerText = "Назад";
      buttonBack.classList.add("btn", "btn-dark", "btn-back-c-lg", "mt-4", "py-2");
      buttonBack.onclick = handleBack;
      buttonBack.type = "button";

      if (prevUrl && !prevUrl.includes("/login")) {
        backButtonDiv.appendChild(buttonBack);
        backButtonDiv.classList.remove("d-none");
      }
    }
    window.loginTelegramWidget2 = handleBack;
  </script>
{% endblock %}