{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% import "partials/_macros_blocks.html" as details %}
{% block head_extra %}
  <style>
      .hidden
  </style>
{% endblock %}

{% block content %}
  <section class="position-relative overflow-x-hidden py-5 mb-1 mb-sm-3">
    <div class="container">

      <div id="avatarBlock" class="visually-hidden">
        <div class="text-center z-1 mb-3 mx-auto"
             style="width: min(320px, 100%); aspect-ratio: 1/1;">
          <img
              src="/static/media/nonePhoto.png"
              id="userAvatar"
              class="avatar rounded-pill"
              alt="Аватар"
              onerror="this.src='/static/media/nonePhoto.png'"
              style="width: min(320px, 100%); height: auto; pointer-events: none;"/>
        </div>
      </div>
      <div id="usernameBlock" class="visually-hidden">
        <div><h1 id="projectName" class="header header-anim header-accent xxl text-center fade-up"
                 style="font-size: clamp(2rem, 9vw, 4.5rem); --offset:20px;">{{ user.first_name }}</h1></div>
        <div><h1 class="header header-anim  text-center fade-up delay-1"
                 style="font-size: clamp(2rem, 9vw, 4.5rem); --offset:20px;">{{ user.last_name }}</h1></div>
        <div><h4 class="header text-center color-hint fade-up delay-2"
                 style="font-size: clamp(1rem, 9vw, 1.5rem); --offset:10px;">
          @{{ user.username }}</h4></div>
      </div>

      <div id="placeholderAvatarBlock" class="placeholder-glow row">
        <div class="col-12 w-100">
          <div class="placeholder d-block rounded-pill z-1 mb-3 mx-auto"
               style="
                                     --max-size: 320px;
                      width: min(100%, var(--max-size));
                   aspect-ratio: 1/1;
">
          </div>
        </div>
        <div>
          <div class="col-12 text-center">
            <h1 id="projectName" class="placeholder color-accent col-6 header"
                style="font-size: clamp(2rem, 9vw, 4rem); ">&nbsp;</h1>
          </div>
          <div class="col-12 text-center">
            <h1 class="placeholder header col-6"
                style="font-size: clamp(2rem, 9vw, 4rem); ">&nbsp;</h1>
          </div>
          <div class="col-12 text-center">
            <h4 class="placeholder header col-6"
                style="font-size: clamp(1rem, 9vw, 1rem); ">&nbsp;</h4>
          </div>
        </div>
      </div>

      <div class="gradient z-n1" style="--top: 25%;">
        <div class="wrapper" style="--size: 300px">
          <div class="element"></div>
          <div class="element"></div>
          <div class="element"></div>
          <div class="element"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="my-3 my-sm-5">
    <div class="container">
      <div class="detail-card nw mb-3">
        <div class="row">
          <div class="col-sm-8 align-self-center">
            Телеграм ID
          </div>
          <div class="col-sm-4 text-sm-end detail-text">
            {{ user.tg_id }}
          </div>
        </div>
      </div>

      <div class="list-group list-section">
        <a href="/affirmations"
           class="item list-group-item list-group-item-action d-flex justify-content-between align-items-center"
           aria-current="true">
          Мои аффирмации
          <i class="bi bi-caret-right-fill align-self-center"></i>
        </a>
        <a href="/projects"
           class="item list-group-item list-group-item-action d-flex justify-content-between align-items-center"
           aria-current="true">
          Мои проекты
          <i class="bi bi-caret-right-fill align-self-center"></i>
        </a>
      </div>

      <div class="d-grid gap-2 mt-4 d-none" id="backButton"></div>

    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script defer>
    const tg = window.Telegram?.WebApp;
    const inTelegram = !!tg && tg.initData !== '';
    const backButtonDiv = document.getElementById("backButton");
    const prevUrl = document.referrer;

    const handleBack = () => {
      tg.MainButton.hide();
      if (window.history.length > 1) {
        window.history.back()
      } else {
        tg.close()
      }
    };

    if (inTelegram) {
      tg.ready();
      tg.MainButton.show();
      tg.MainButton.setParams({
        color: "#8774e1",
        is_visible: true,
        text: "Назад"
      });
      tg.MainButton.onClick(handleBack);

    } else {
      const buttonBack = document.createElement('button');
      buttonBack.innerText = "Назад";
      buttonBack.classList.add("btn", "btn-dark", "btn-back-c-lg", "mt-4", "py-2");
      buttonBack.onclick = handleBack;
      buttonBack.type = "button";

      if (prevUrl && !prevUrl.includes("/login")) {
        backButtonDiv.appendChild(buttonBack);
        backButtonDiv.classList.remove("d-none");
      }
    }
    window.loginTelegramWidget2 = handleBack;
  </script>

  <script>
    window.addEventListener('load', () => {
      document.fonts.ready.then(() => {
        console.log("Все шрифты полностью готовы");

        const ph = document.getElementById('placeholderAvatarBlock');
        const ab = document.getElementById('avatarBlock');
        const ub = document.getElementById('usernameBlock');

        ub.classList.remove('visually-hidden');
        ab.classList.remove('visually-hidden');
        ph.classList.add('d-none');
        {#ph.remove()#}

      });

      setTimeout(() => {
        document.body.offsetHeight;
        document.body.classList.add('page-loaded');
      }, 300);
    });
  </script>
{% endblock %}