<div class="modal  fade" id="general-page-modal" tabindex="-1"
     aria-labelledby="general-page-moda-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content modal-custom">
      <div class="modal-body text-center pb-3">
        <div class="row align-items-center text-start justify-content-between">
          <h4 id="gModalText" class="text-center">
            Some text
          </h4>
        </div>
      </div>
      <div class="modal-footer justify-content-center pt-1">
        <button type="button" class="btn btn-success" id="gModalConfirmButton" disabled>Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="gModalCancelButton">Cancel
        </button>
      </div>
    </div>
  </div>
</div>