<div
    id="statusBlockGeneralDiv"
    class="collapse status-block {% if visible %} show {% endif %}"
>
  <div
      id="{{ status_block_id }}"
      class="status-indicator
      {% if status_type %}{{ status_type }}{% endif %}
">
    {% if status_text %}
      {{ status_text }}
    {% else %}
      Идет авторизация...
    {% endif %}
  </div>
</div>

{% if status_timeout %}
  <script type="module" defer>
    import {StatusIndicator} from "../../static/scripts/affirmations/ui/status_indicator.js";

    const status = new StatusIndicator('statusBlockGeneralDiv');
     setTimeout(() => {
       status.hide();
    }, 5000);

  </script>

{% endif %}
