{% if user %}
<div class="profile-header">
  <img
      src="{{ user.photo_url }}"
      id="userAvatar"
      class="avatar"
      alt="Аватар"
      onerror="this.src='/static/media/nonePhoto.png'">
  <div class="profile-info">
    <div id="userName" class="name">{{ user.first_name }} {{ user.last_name }}</div>
    {% if user.is_premium %}
    <div id="premiumBadge" class="badge">Premium</div>
    {% endif %}
    {% if user.username %}
    <div id="userNickname" class="username">@{{ user.username }}</div>
    {% endif %}
  </div>
</div>
{% endif %}